<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>グラフ表示</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
</head>
<body>
    <h2>{{ subject_name }} の成績分布</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="成績分布円グラフ">
    <br>
    <form method="POST" action="/back">
      <input type="submit" value="検索ページに戻る">
    </form>
</body>
</html>
