  <meta charset="UTF-8">
  <style>
    .line-left {
      text-align: left;
      font-size: 14px;
      margin-top: 0.5em;
    }
  </style>


  <div class="line-left">
    「情報社会と法制度」は1年生の履修を認めます.
  </div>

  <div class="line-left">
    集中科目：知的探求の世界I(通年)，ビジネスシステムデザイン基礎I（春C集中）
  </div>

  <br>

  <div class="line-left">
  教職科目は以下のように履修することを想定しています. 下記以外のクラスも履修できます.
  </div>

  <div class="line-left">
  &emsp;&emsp;道徳教育I/II(春AB月6/秋AB月6, 集中), 特別活動の理論と実践(秋C月56, 秋C火45, 集中), 総合的な学習の時間の指導法I/II(集中)
  </div>

