  <meta charset="UTF-8">
  <style>
    .line-left {
      text-align: left;
      font-size: 10px;
      margin-top: 0.5em;
    }
  </style>


  <div class="line-left">
  月火水の 1・2 限に開講する科目(マークアップ言語を除く)と学術情報基盤論・データ構造とアルゴリズムは, 各科目の受講上限を超過しない範囲で早期卒業を目指す2年生の履修を認めます.
  </div>

  <div class="line-left">
  金曜日の5・6限に開講する科目は，各科目の受講上限を超過しない範囲で「体験型システム開発A,B」を履修予定の2年生の履修を認めます．
  </div>

  <div class="line-left">
  集中科目：知的探求の世界II(春学期＋秋A), インターンシップ(夏季休業中), ビジネスシステムデザイン基礎II(春C集中)
  </div>

  <div class="line-left">
  集中科目：PBL型図書館サービスプログラム開発(通年)
  </div>

  <div class="line-left">
  本年度開講せず：コミュニティ情報論，図書館文化史論，Machine Learning and Information Retrieval，メディア技術と文化，データ表現と処理，データベース技術，知識資源の分類と索引
  </div>

  <div class="line-left">
  教職科目は以下のように履修することを想定しています. 下記以外のクラスも履修できます.
  </div>

  <div class="line-left">
  &emsp;&emsp;教育課程編成論(旧課程の教育内容・方法論Iに対応)　(春AB水6, 秋AB水5, 集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;教育の方法と技術(旧課程の教育内容・方法論IIに対応)　(春AB木6, 春C金56，集中)
  </div>
  
  <div class="line-left">
  &emsp;&emsp;特別支援教育(旧課程の障害児指導法に対応)　(春AB火6, 秋AB金6)
  </div>

  <div class="line-left">
  &emsp;&emsp;生徒指導(旧課程の生徒指導・教育相談Iに対応)　(集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;教育相談の基礎(旧課程の生徒指導・教育相談IIに対応)　(春AB火5, 春AB火6, 春C月56, 秋C火56, 集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;教育相談の実際(旧課程の生徒指導・教育相談IIIに対応)　(秋AB火5, 秋AB火6, 集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;進路指導・キャリア教育(旧課程の進路指導に対応)　(春AB火5，秋AB火5，集中)
  </div>
  
  <div class="line-left">
  &emsp;&emsp;教職実践演習(中・高) 　(4年次：集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;教育実習(情報|数学|社会|公民) 　(4年次：集中)
  </div>

  <div class="line-left">
  他学類開設の教科に関する科目（必修）および教科指導法
  </div>

  <div class="line-left">
  &emsp;&emsp;数学科&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;CG基礎(創成; 秋AB火34), 微分積分B(情科; 春AB木34), 教科指導法に関する科目群(春秋ABC木12, 集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;社会科&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;日本研究概論I(比文; 秋AB木4), 日本研究概論II(比文; 春AB木4), 欧米研究概論(比文; 春AB金6)
  </div>
  
  <div class="line-left">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;アジア研究概論(比文; 秋AB金3), 東洋の歴史と文化(日日; 秋AB水1), 人文地理学(地球; 春AB火1), 地誌学(地球; 春AB木1)
  </div>

  <div class="line-left">
  &emsp;&emsp;社会科・公民科&emsp;&emsp;教科指導法に関する科目群(春秋ABC水12, 集中)
  </div>

  <div class="line-left">
  &emsp;&emsp;情報科&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;教科指導法に関する科目群(集中)
  </div>
