
  <meta charset="UTF-8">
  <title>2025年度時間割</title>
  <style>

    .line-left {
      text-align: left;
      font-size: 14px;
    }
    .line-right {
      text-align: right;
      font-size: 14px;
    }
    .line-mixed {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5em;
      font-size: 14px;
    }
    .line-mixed .left {
      flex: 0 0 auto;
      font-size: 14px;
    }
    .line-mixed .right {
      flex: 1 1 auto;
      text-align: right;
      font-size: 14px;
    }
    .bold-uppercase {
      font-weight: bold;
      text-transform: uppercase;
      display: inline;
      font-size: 16px;
    }
    .date {
      font-weight: bold;
      font-size: 14px;
    }
  </style>



  <div class="line-left">
    <span class="bold-uppercase">2025年度　知識情報・図書館学類　時間割</span>&emsp;&emsp;&emsp;<span class="date">（2025年2月22日現在）</span>
  </div>

  <div class="line-right">
    凡例: *卒業要件上の必修科目，†司書資格に関する必修科目，[]今年度開講せず，&lt;&gt;教職に関する科目
  </div>

  <div class="line-mixed">
    <div class="left">1年次</div>
    <div class="right">
      1限 8:40～9:55，2限 10:10～11:25，3限 12:15～13:30，4限 13:45～15:00，5限 15:15～16:30，6限 16:45～18:00
    </div>
  </div>


