
  <meta charset="UTF-8">
  <style>
    .line-left {
      text-align: left;
      font-size: 14px;
      margin-top: 0.5em;
    }
  </style>


  <div class="line-left">
    知識情報概論は年二回開講，知識1年次は（春A火12）を履修すること。
  </div>

  <div class="line-left">
    <span style="background-color: #999999;"> 灰色の網掛けは&nbsp;&nbsp;</span>
    情報学群以外開設の専門導入科目｜総合科目（学士基盤科目）を選択して履修
  </div>

  <div class="line-left">
    教職科目：
    現代教育と教育理念（春C月34），
    教育史概論（春C月56），
    教職論I/II（春AB水1／秋AB水1），
    教育の法と制度（秋AB月6），
    学校経営概説（秋AB木2），
    こころの発達（秋C月34），
    学習の心理（秋C月56），
    教育社会概論（旧課程の教育基礎学IおよびIIIに対応）（集中），
    日本国憲法（集中）
  </div>

  <div class="line-left">
    2年次
  </div>

